{
  "extends": "standard",
  "env": {
    "browser": true
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ],
    comma-dangle: [
      "error",
      "only-multiline"
    ]
  }
}
